<div class = container>
<div class = row>
<div class = col-md-4>

<p><%=notice%></p>

<h1>User info</h1>
<%= image_tag user.get_profile_image(200,200) %>

<table>
 <tbody>
  <tr>
   <th>name</th>
   <th><%= user.name %></th>
  </tr>
  <tr>
   <th>introduction</th>
   <th><%= user.introduction %></th>
  </tr>
 </tbody>
</table>

<%= link_to edit_user_path(user.id), class: "btn btn-outline-secondary btn-block" do %>
<i class="fas fa-user-cog"></i>
<% end %>

<h1>New book</h1>


<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%=form_with model: book do|f| %>
 <h3>Title</h3>
 <%=f.text_field :title %>
 
 <h4>Opinion</h4>
 <%=f.text_area :body %>
 
 <%=f.submit'Create Books'%>
<% end %>
  
</table>

</div>
</div
</div>
</div>